/*--------------------------------------------- RESET --------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 219, 218);
    background-image: linear-gradient(to top, rgb(246, 246, 246), rgb(250, 240, 242));
}


/*--------------------------------------------- HEADER --------------------------------------------------*/

header {
    width: 100%;
    background-color: rgb(172, 29, 48);
    display: flex;
    align-items: center;
    border: 2px black solid;
    padding-left: 6rem;
}

.navegacion {
    width: 100%;
}

header h1 {
    font-family: "Dancing Script";
    font-size: 4.5rem;
    color: aliceblue;
    text-shadow: 3px 3px 5px black;
    margin-right: 12rem;
}

.img-menu {
    height: 5rem;
    width: auto;
    display: flex;
    order: -1;
    align-items: center;
    margin-right: 6rem;
}

header img:hover {
    transform: rotateZ(10deg);
    filter: drop-shadow(5px 5px 3px);
}

/* menu de navegacion */
nav div div ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav div div ul li {
    font-family: fantasy;
    background-color: rgb(10, 90, 27);
    padding: 0.2rem;
    text-shadow: 3px 2px 5px black;
    border-radius: 20px;
    box-shadow: 3px 2px 5px black;
    color: aliceblue;
    text-align: center;
}

nav div div ul li:hover {
    text-decoration: none;
    background-color: rgb(8, 61, 19);
    color: whitesmoke;
    transform: scale(1.1);
}

.texto-nav {
    text-decoration: none;
    color: whitesmoke;
}

.texto-nav:hover {
    color: whitesmoke;
}


/*--------------------------------------------- INDEX --------------------------------------------------*/

/* carrusel */
.main-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.1fr 0.8fr;
    grid-template-areas:
        "carrusel carrusel"
        "h2 h2"
        "mapa texto";
    row-gap: 1.5rem;
    column-gap: 6rem;
}

.foto-restaurante {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

.carrusel {
    grid-area: carrusel;
    box-shadow: 2px 2px 5px black;
}

/* parte informativa del index */
.subtitulos {
    font-family: EB Garamond;
    font-size: 2rem;
    grid-area: h2;
    justify-self: center;
    align-self: center;
}

.texto {
    width: 25rem;
    grid-area: texto;
    justify-self: start;
    align-self: center;
}

.mapa {
    grid-area: mapa;
    width: 25rem;
    height: 20rem;
}

.contenedor-mapa {
    box-shadow: 2px 1px 7px black;
    width: 25rem;
    justify-self: end;
    align-self: center;

}

/* logos de redes sociales */
.redes-sociales {
    z-index: 10;
    flex-direction: column;
    display: flex;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    gap: 0.6rem;
}

.red-social {
    height: 2.5rem;
    width: auto;
    animation-name: img-movimiento;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes img-movimiento {
    to {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------- FOOTER --------------------------------------------------*/

footer {
    background-color: rgb(172, 29, 48);
    display: flex;
    padding: 1rem;
    align-items: center;
    border: 2px black solid;
    justify-content: space-around;
    color: rgb(240, 236, 236);
    margin-top: 2rem;
}

.derechos {
    font-size: 1rem;
}

.volver {
    bottom: 0;
    text-decoration: none;
    color: rgb(240, 236, 236);
    background-color: rgb(8, 66, 21);
    padding: 0.8rem;
    text-shadow: 3px 2px 5px black;
    border-radius: 1.2rem;
    box-shadow: 3px 2px 5px black;
    font-size: 1rem;
}

#volver:hover {
    text-decoration: none;
    background-color: rgb(4, 33, 10);
    color: aliceblue;
}

/*--------------------------------------------- CONTACTO --------------------------------------------------*/
.form-contacto {
    border: 2px solid black;
    width: 9.5rem;
}

#fondo-italia {
    background-image: url("../img/restaurante/bandera-italia.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-contacto {
    display: grid;
    grid-template-areas:
        "h2"
        "form";
    row-gap: 1rem;
}

.subtitulo-contacto {
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    font-family: fantasy;
    background-color: black;
    border-radius: 0.5rem;
    align-self: center;
    justify-self: center;
    grid-area: h2;
    margin-top: 2rem;
    padding: 0.3rem;
    box-shadow: 1px 2px 3px black;
}

.form-contacto {
    background-color: whitesmoke;
    box-shadow: 4px 2px 9px black;
    font-size: 0.9rem;
    width: 20rem;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
    grid-area: form;
    align-self: center;
    justify-self: center;
}

.pregunta {
    display: flex;
    border: solid 1px black;
    padding: 0.5rem;
    width: 17rem;
    margin-bottom: 15px;
}

.enviar {
    background-color: rgb(11, 11, 11);
    color: white;
    font-family: fantasy;
    font-size: 1rem;
}

/*--------------------------------------------- CARTA --------------------------------------------------*/

.separador {
    font-family: fantasy;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.comidas {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 27rem;
    justify-content: space-around;

}
.plato {
    box-shadow: 1px 1px 6px black;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 25rem;
}

.comida {
    display: flex;
    width: 14rem;
    height: 10rem;
    flex-direction: column;
    font-family: "Karla";
    align-items: center;
    justify-content: space-between;
}

.nombre-comida {
    font-size: 1.6rem;
}

.texto-comida {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

.boton-pedido {
    background-color: rgb(10, 90, 27);
    color: aliceblue;
    font-size: 0.9rem;
    box-shadow: 2px 2px 3px black;
    align-self: flex-end;


}

.boton-pedido:hover {
    background-color: rgb(6, 55, 17);
    color: aliceblue;
}

.plato:hover {
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 2px 2px 6px black;
}

.plato:hover .nombre-comida {
    text-decoration: underline;
}

.foto-comida {
    height: 8rem;
    width: auto;
    box-shadow: 1px 1px 2px black;
    object-fit: cover;
}

.descripcion-comida {
    width: 13rem;
    margin-top: 0.8rem;
}

/*--------------------------------------------- OPINIONES --------------------------------------------------*/

.main-valoracion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#fondo-chef {
    background-image: url("../img/restaurante/cocinando.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-valoracion {
    background-color: white;
    padding: 1rem;
    font-size: 0.9rem;
    box-shadow: 2px 3px 2px rgb(29, 28, 28);

}

.form-valoracion:hover {
    box-shadow: 2px 2px 12px black;
}

.subtitulo-valoracion {
    color: whitesmoke;
    font-family: fantasy;
    background-color: rgb(15, 15, 15);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    align-self: center;
    justify-self: center;
    padding: 0.3rem;
    box-shadow: 1px 2px 3px rgb(15, 15, 15);
    margin-bottom: 1rem;
    grid-area: h2;
}


/* NOSOTROS */
.main-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-areas:
        "img-1 info-1"
        "info-2 img-2"
        "img-3 info-3"
        "info-4 img-4"
        "footer footer";
    column-gap: 2rem;
    justify-content: space-around;
}

.informacion-1 {
    width: 100%;
    display: flex;
    grid-area: info-1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.informacion-2 {
    width: 100%;
    display: flex;
    grid-area: info-2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.informacion-3 {
    width: 100%;
    display: flex;
    grid-area: info-3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.informacion-4 {
    width: 100%;
    display: flex;
    grid-area: info-4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.titulo-informacion {

    font-family: "EB Garamond";
    font-size: 2rem;
}

.imagen-informacion1 {
    width: 30rem;
    border-radius: 1.2rem;
    box-shadow: 2px 3px 4px black;
    margin-top: 2.4rem;
    margin-bottom: 2.8rem;
    background-color: firebrick;
    grid-area: img-1;
    justify-self: flex-end;
}

.imagen-informacion2 {
    width: 30rem;
    border-radius: 1.2rem;
    box-shadow: 2px 3px 4px black;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-color: firebrick;
    grid-area: img-2;
    justify-self: flex-start;
}

.imagen-informacion3 {
    width: 30rem;
    border-radius: 20px;
    box-shadow: 2px 3px 4px black;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-color: firebrick;
    grid-area: img-3;
    justify-self: flex-end;
}

.imagen-informacion4 {
    width: 30rem;
    border-radius: 20px;
    box-shadow: 2px 3px 4px black;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-color: firebrick;
    grid-area: img-4;
    justify-self: flex-start;
}

.texto-informacion {
    width: 70%;
    font-family: fantasy;
    grid-area: texto;
}

/*--------------------------------- MEDIA QUERIES ----------------------------------------*/

@media screen and (max-width:820px) {
    /* tamaño de pantalla para iPad Air */

    .contenedor {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    header {
        width: 100%;
        padding: 0.5rem 2rem;
        margin: 0;
    }

    .navegacion {
        width: 100%;
        padding: 0;
    }

    .img-menu {
        margin: 0;
    }

    header h1 {
        margin: 0;
    }

    h1,
    header img,
    ul {
        scale: 0.8;
    }

    .enlaces {
        margin: 0;
        padding: 0;
    }

    .seccion-nav {
        width: 6rem;
    }

    .carrusel,
    .foto-restaurante {
        height: 30rem;
        margin-bottom: 1rem;
        width: 100%;
    }

    .main-index {
        width: 100%;
    }

    .texto {
        width: 85%;
    }

    .contenedor-mapa {
        width: 85%;
        height: 85%;
    }

    .mapa {
        width: 100%;
        height: 100%;
    }

    .subtitulos {
        margin-bottom: 1rem;
    }

    .main-carta {
        width: 100%;
        padding: 0;
    }

    .plato {
        width: 100%;
    }

    .comida {
        width: 100%;
        margin: 0;
    }

    .plato,
    .foto-comida,
    .nombre-comida {
        scale: 0.9;
    }

    .parte-nav {
        margin: 0;
        padding: 0;
        width: 0;
    }

    .main-contacto {
        height: 100%;
    }

    .form-contacto {
        margin-bottom: 7rem;
    }

    .subtitulo-contacto {
        margin-top: 5rem;
    }

    .imagen-informacion1,
    .imagen-informacion2,
    .imagen-informacion3,
    .imagen-informacion4,
    .texto-informacion {
        width: 20rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main-valoracion {
        height: 100%;
    }

    .form-valoracion {
        margin-bottom: 14rem;
    }

    .subtitulo-valoracion {
        margin-top: 3rem;
    }



}

@media screen and (max-width:400px) {
    /* tamaño de pantalla para Iphone 7 */

    .contenedor {
        display: flex;
        flex-direction: column;
    }

    h1,
    header img,
    .volver {
        scale: 0.7;
    }

    /* header */
    header h1 {
        margin-right: 0;
        justify-content: space-around;
    }

    .img-menu {
        margin-right: 0;
    }

    header {
        padding-left: 0;

    }

    .main-index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        box-shadow: 2px 2px 4px black;
        height: 100%;
    }

    /* redes sociales */
    .red-social {
        display: none;
    }

    /* footer */
    footer {
        margin-top: 0;
        display: flex;
        bottom: 0;
        justify-content: space-between;
    }

    .carrusel,
    .foto-restaurante {
        height: 20rem;
        margin-bottom: 1rem;
    }

    nav div div ul li {
        font-family: fantasy;
        background-color: rgb(10, 90, 27);
        text-shadow: 3px 2px 5px black;
        border-radius: 10px;
        box-shadow: 3px 2px 5px black;
        color: aliceblue;
    }

    .texto-informacion {
        width: 20rem;
    }

    .main-nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        width: 100%;
    }

    .imagen-informacion1,
    .imagen-informacion2,
    .imagen-informacion3,
    .imagen-informacion4 {
        scale: 0.8;
        margin-top: 0;
    }

    .main-carta {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .comidas {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-bottom: 20rem;
        height: 10rem;
    }

    .plato {
        scale: 0.7;
        justify-self: center;
    }

    .main-valoracion {
        height: 100%;
        width: 100%;
    }

    #fondo-chef {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 57rem;
        width: auto;
    }

    .texto {
        width: 20rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .subtitulos {
        font-size: 2rem;
    }

    .contenedor-mapa {
        align-self: center;
    }

    .mapa {
        height: 20rem;
        width: 20rem;
    }

    .contenedor-mapa {
        height: 20rem;
        width: 20rem;
        margin-bottom: 2rem;
    }

    .derechos {
        font-size: 0.7rem;
    }

    .contenedor-volver {
        height: 2rem;
    }

    .volver {
        font-size: 0.7rem;
    }

    h2 .separador {
        font-size: 2rem;
    }

    .comidas {
        width: 100%;
        height: 26rem;
        margin-bottom: 20rem;
    }

    .main-carta {
        height: 465rem;
    }

    .main-valoracion {
        width: 100%;
        height: 45rem;
        margin-top: 0;
        align-self: center;
    }

    header nav h1 {
        padding: 0;
        margin: 0;
        font-size: 4rem;
    }

}