@charset "UTF-8";
/*------------------------------------RESET----------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to top, #f6f6f6, #faf0f2); }

/*------------------------------------HEADER--------------------------------------*/
header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ac1d30;
  border: 2px black solid;
  padding-left: 6rem; }
  header h1 {
    font-family: "Dancing Script";
    font-size: 4.5rem;
    color: aliceblue;
    text-shadow: 3px 3px 5px black;
    margin-right: 12rem; }
  header img {
    display: flex;
    align-items: center;
    height: 5rem;
    order: -1;
    margin-right: 6rem; }
  header img:hover {
    transform: rotateZ(10deg);
    filter: drop-shadow(5px 5px 3px); }
  header nav div div ul {
    display: flex;
    list-style: none;
    gap: 1.5rem; }
    header nav div div ul li {
      text-align: center;
      font-family: fantasy;
      background-color: #0a5a1b;
      padding: 0.2rem;
      text-shadow: 3px 2px 5px black;
      border-radius: 20px;
      box-shadow: 3px 2px 5px black;
      color: aliceblue; }
    header nav div div ul li:hover {
      text-decoration: none;
      background-color: #083d13;
      color: aliceblue;
      transform: scale(1.1); }
    header nav div div ul div .texto-nav {
      text-decoration: none;
      color: aliceblue; }
    header nav div div ul div .texto-nav:hover {
      color: aliceblue; }

/*---------------------------------FOOTER--------------------------------------*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ac1d30;
  padding: 1rem;
  border: 2px black solid;
  color: aliceblue;
  margin-top: 2rem; }
  footer h3 {
    font-size: 1rem; }
  footer div a {
    bottom: 0;
    text-decoration: none;
    color: aliceblue;
    background-color: #0a5a1b;
    padding: 0.8rem;
    text-shadow: 3px 2px 5px black;
    border-radius: 1.2rem;
    box-shadow: 3px 2px 5px black;
    font-size: 1rem; }
  footer div a:hover {
    background-color: #083d13;
    color: aliceblue; }

/*---------------------------------REDES SOCIALES--------------------------------------*/
.redes-sociales {
  z-index: 10;
  flex-direction: column;
  display: flex;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  gap: 0.6rem; }

.red-social {
  height: 2.5rem;
  width: auto;
  animation-name: img-movimiento;
  animation-iteration-count: infinite;
  animation-duration: 10s; }

@keyframes img-movimiento {
  to {
    transform: rotate(360deg); } }

/*---------------------------------INDEX--------------------------------------*/
/* carrusel */
.main-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.1fr 0.8fr;
  grid-template-areas: "carrusel carrusel" "h2 h2" "mapa texto";
  row-gap: 1.5rem;
  column-gap: 6rem; }

.foto-restaurante {
  width: 100%;
  height: 35rem;
  object-fit: cover; }

.carrusel {
  grid-area: carrusel;
  box-shadow: 3px 2px 5px black; }

/* parte informativa del index */
.subtitulos {
  font-family: EB Garamond;
  font-size: 2rem;
  grid-area: h2;
  align-self: center;
  justify-self: center;
  text-align: center; }

.texto {
  width: 25rem;
  height: auto;
  grid-area: texto;
  justify-self: start;
  align-self: center; }

.mapa {
  grid-area: mapa;
  width: 25rem;
  height: 20rem; }

.contenedor-mapa {
  width: 25rem;
  height: auto;
  box-shadow: 3px 2px 5px black;
  justify-self: end;
  align-self: center; }

/*---------------------------------CONTACTO--------------------------------------*/
.form-contacto {
  border: 2px solid black;
  width: 9.5rem; }

#fondo-italia {
  background-image: url("../img/restaurante/bandera-italia.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.main-contacto {
  display: grid;
  grid-template-areas: "h2" "form";
  row-gap: 1rem; }

.subtitulo-contacto {
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 1rem;
  color: aliceblue;
  font-family: fantasy;
  background-color: black;
  border-radius: 0.5rem;
  grid-area: h2;
  margin-top: 2rem;
  padding: 0.3rem;
  box-shadow: 3px 2px 5px black; }

.form-contacto {
  background-color: whitesmoke;
  box-shadow: 3px 2px 5px black;
  font-size: 0.9rem;
  width: 20rem;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
  grid-area: form;
  align-self: center;
  justify-self: center;
  text-align: center; }

.pregunta {
  display: flex;
  border: 1px solid black;
  padding: 0.5rem;
  width: 17rem;
  margin-bottom: 15px; }

.enviar {
  background-color: #0b0b0b;
  color: white;
  font-family: fantasy;
  font-size: 1rem;
  width: 6rem; }

.enviar:hover {
  background-color: white;
  color: black;
  font-family: fantasy;
  font-size: 1rem;
  width: 6rem;
  box-shadow: 3px 2px 5px black; }

/*---------------------------------CARTA--------------------------------------*/
.separador {
  font-family: fantasy;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.comidas {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 27rem; }

.plato {
  box-shadow: 1px 1px 6px black;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: auto;
  height: 25rem; }

.comida {
  display: flex;
  width: 14rem;
  height: 10rem;
  flex-direction: column;
  font-family: "Karla";
  align-items: center;
  justify-content: space-between; }

.nombre-comida {
  font-size: 1.6rem; }

.texto-comida {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal; }

.boton-pedido {
  background-color: #0a5a1b;
  color: aliceblue;
  font-size: 0.9rem;
  box-shadow: 3px 2px 5px black;
  align-self: flex-end; }

.boton-pedido:hover {
  background-color: #063711;
  color: aliceblue; }

.plato:hover {
  transform: scale(1.05);
  transition: 1s;
  box-shadow: 3px 2px 5px black; }

.plato:hover .nombre-comida {
  text-decoration: underline; }

.foto-comida {
  width: auto;
  height: 8rem;
  box-shadow: 1px 1px 2px black;
  object-fit: cover; }

.descripcion-comida {
  width: 13rem;
  height: auto;
  margin-top: 0.8rem; }

/*---------------------------------VALORACION--------------------------------------*/
.main-valoracion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem; }

#fondo-chef {
  background-image: url("../img/restaurante/cocinando.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.form-valoracion {
  background-color: white;
  padding: 1rem;
  font-size: 0.9rem;
  box-shadow: 2px 3px 2px #1d1c1c;
  align-self: center;
  justify-self: center;
  text-align: center; }

.form-valoracion:hover {
  box-shadow: 2px 2px 12px black; }

.subtitulo-valoracion {
  color: aliceblue;
  font-family: fantasy;
  background-color: #0f0f0f;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.3rem;
  box-shadow: 3px 2px 5px black;
  margin-bottom: 1rem;
  grid-area: h2; }

/*---------------------------------NOSOTROS--------------------------------------*/
.informacion-1, .informacion-2, .informacion-3, .informacion-4 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem; }

.imagen-informacion1, .imagen-informacion2, .imagen-informacion3, .imagen-informacion4 {
  width: 30rem;
  height: auto;
  border-radius: 1.2rem;
  box-shadow: 3px 2px 5px black;
  margin-top: 2.4rem;
  margin-bottom: 2.8rem; }

.main-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-areas: "img-1 info-1" "info-2 img-2" "img-3 info-3" "info-4 img-4" "footer footer";
  column-gap: 2rem;
  justify-content: space-around; }

.informacion-1 {
  grid-area: info-1; }

.informacion-2 {
  grid-area: info-2; }

.informacion-3 {
  grid-area: info-3; }

.informacion-4 {
  grid-area: info-4; }

.imagen-informacion1 {
  grid-area: img-1;
  justify-self: flex-end; }

.imagen-informacion2 {
  grid-area: img-2;
  justify-self: flex-start; }

.imagen-informacion3 {
  grid-area: img-3;
  justify-self: flex-end; }

.imagen-informacion4 {
  grid-area: img-4;
  justify-self: flex-start; }

.texto-informacion {
  width: 70%;
  font-family: fantasy;
  grid-area: texto; }

.titulo-informacion {
  font-family: "EB Garamond";
  font-size: 2rem; }

/*---------------------------------MEDIA QUERIES--------------------------------------*/
/* tamaño de pantalla para iPad Air */
@media screen and (max-width: 820px) {
  .contenedor {
    width: 100%;
    height: 100%;
    margin: 0; }
  header {
    width: 100%;
    height: auto;
    padding: 0.5rem 2rem;
    margin: 0; }
  .navegacion {
    width: 100%;
    height: auto;
    padding: 0; }
  .img-menu {
    margin: 0; }
  header h1 {
    margin: 0; }
  h1,
  header img,
  ul {
    scale: 0.8; }
  .enlaces {
    margin: 0;
    padding: 0; }
  .seccion-nav {
    width: 6rem;
    height: auto; }
  .carrusel,
  .foto-restaurante {
    width: 100%;
    height: 30rem;
    margin-bottom: 1rem; }
  .main-index {
    width: 100%;
    height: auto; }
  .texto {
    width: 85%;
    height: auto; }
  .contenedor-mapa {
    width: 85%;
    height: 85%; }
  .mapa {
    width: 100%;
    height: 100%; }
  .subtitulos {
    margin-bottom: 1rem; }
  .main-carta {
    width: 100%;
    height: auto;
    padding: 0; }
  .plato {
    width: 100%;
    height: auto; }
  .comida {
    width: 100%;
    height: auto;
    margin: 0; }
  .plato,
  .foto-comida,
  .nombre-comida {
    scale: 0.9; }
  .parte-nav {
    margin: 0;
    padding: 0;
    width: 1rem;
    height: auto; }
  .main-contacto {
    width: auto;
    height: 100%; }
  .form-contacto {
    margin-bottom: 7rem; }
  .subtitulo-contacto {
    margin-top: 5rem; }
  .imagen-informacion1,
  .imagen-informacion2,
  .imagen-informacion3,
  .imagen-informacion4,
  .texto-informacion {
    width: 20rem;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem; }
  .informacion-1 {
    margin-top: 3rem; }
  .imagen-informacion1 {
    margin-top: 5rem; }
  .main-valoracion {
    width: auto;
    height: 100%; }
  .form-valoracion {
    margin-bottom: 14rem; }
  .subtitulo-valoracion {
    margin-top: 3rem; } }

/* tamaño de pantalla para iPhone 7 */
@media screen and (max-width: 400px) {
  .contenedor {
    display: flex;
    flex-direction: column; }
  h1,
  header img,
  .volver {
    scale: 0.7; }
  header h1 {
    margin-right: 0;
    justify-content: space-around; }
  .img-menu {
    margin-right: 0; }
  header {
    margin: 0;
    padding: 0; }
  .main-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    box-shadow: 3px 2px 5px black;
    width: auto;
    height: 100%; }
  .red-social {
    display: none; }
  footer {
    margin-top: 0;
    display: flex;
    bottom: 0;
    justify-content: space-between; }
  .carrusel,
  .foto-restaurante {
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem; }
  nav div div ul li {
    font-family: fantasy;
    background-color: #0a5a1b;
    text-shadow: 3px 2px 5px black;
    border-radius: 10px;
    box-shadow: 3px 2px 5px black;
    color: aliceblue; }
  .texto-informacion {
    width: 20rem;
    height: auto; }
  .main-nosotros {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto; }
  .imagen-informacion1,
  .imagen-informacion2,
  .imagen-informacion3,
  .imagen-informacion4 {
    margin-top: 0; }
  .main-carta {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto; }
  .comidas {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 18rem;
    width: auto;
    height: 10rem; }
  .plato {
    scale: 0.8;
    justify-self: center; }
  .main-valoracion {
    width: 100%;
    height: 100%; }
  #fondo-chef {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 57rem; }
  .texto {
    width: 20rem;
    height: auto;
    margin-left: 3rem;
    margin-right: 3rem; }
  .subtitulos {
    font-size: 2rem; }
  .contenedor-mapa {
    align-self: center; }
  .mapa {
    width: 20rem;
    height: 20rem; }
  .contenedor-mapa {
    width: 20rem;
    height: 20rem;
    margin-bottom: 2rem; }
  .derechos {
    font-size: 0.7rem; }
  .contenedor-volver {
    width: auto;
    height: 2rem; }
  .volver {
    font-size: 0.7rem; }
  .separador {
    font-size: 1.7rem; }
  .comidas {
    width: 100%;
    height: 26rem;
    margin-bottom: 20rem; }
  .main-carta {
    width: auto;
    height: 465rem; }
  .main-valoracion {
    width: 100%;
    height: 45rem;
    align-self: center; }
  header nav h1 {
    padding: 0;
    margin: 0;
    font-size: 4rem; }
  .subtitulo-valoracion {
    margin-top: 12rem; }
  .subtitulo-contacto {
    margin-top: 3rem; } }
