/*------------------------------------RESET----------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Importación de archivos secundarios
@import "utilidades/variables";
@import "utilidades/mixin";

body {
    background-image: linear-gradient(to top, rgb(246, 246, 246), rgb(250, 240, 242));
}

/*------------------------------------HEADER--------------------------------------*/
header {
    @include align;
    width: 100%;
    background-color: $color-header-footer;
    border: 2px black solid;
    padding-left: 6rem;

    h1 {
        font-family: "Dancing Script";
        font-size: 4.5rem;
        color: $color_letras_botones;
        text-shadow: 3px 3px 5px black;
        margin-right: 12rem;
    }

    img {
        @include align;
        height: 5rem;
        order: -1;
        margin-right: 6rem;
    }

    img:hover {
        transform: rotateZ(10deg);
        filter: drop-shadow(5px 5px 3px);
    }

    nav {
        div {
            div {
                ul {
                    display: flex;
                    list-style: none;
                    gap: 1.5rem;

                    li {
                        text-align: center;
                        font-family: fantasy;
                        background-color: $color-botones;
                        padding: 0.2rem;
                        text-shadow: $sombreado;
                        border-radius: 20px;
                        box-shadow: $sombreado;
                        color: $color_letras_botones;
                    }

                    li:hover {
                        text-decoration: none;
                        background-color: $color-botones-hover;
                        color: $color_letras_botones;
                        transform: scale(1.1);
                    }

                    div {
                        .texto-nav {
                            text-decoration: none;
                            color: $color_letras_botones;
                        }

                        .texto-nav:hover {
                            color: $color_letras_botones;
                        }
                    }

                }
            }
        }
    }
}

/*---------------------------------FOOTER--------------------------------------*/
footer {
    @include align;
    justify-content: space-around;
    background-color: $color-header-footer;
    padding: 1rem;
    border: 2px black solid;
    color: $color_letras_botones;
    margin-top: 2rem;

    h3 {
        font-size: 1rem;
    }

    div {
        a {
            bottom: 0;
            text-decoration: none;
            color: $color_letras_botones;
            background-color: $color-botones;
            padding: 0.8rem;
            text-shadow: $sombreado;
            border-radius: 1.2rem;
            box-shadow: $sombreado;
            font-size: 1rem;
        }

        a:hover {
            background-color: $color-botones-hover;
            color: $color_letras_botones;
        }
    }
}

/*---------------------------------REDES SOCIALES--------------------------------------*/

.redes-sociales {
    z-index: 10;
    flex-direction: column;
    display: flex;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    gap: 0.6rem;
}

.red-social {
    height: 2.5rem;
    width: auto;
    animation-name: img-movimiento;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes img-movimiento {
    to {
        transform: rotate(360deg);
    }
}

/*---------------------------------INDEX--------------------------------------*/
@import "html/index";

/*---------------------------------CONTACTO--------------------------------------*/
@import "html/contacto";

/*---------------------------------CARTA--------------------------------------*/
@import "html/carta";

/*---------------------------------VALORACION--------------------------------------*/
@import "html/valoracion";

/*---------------------------------NOSOTROS--------------------------------------*/
@import "html/nosotros";

/*---------------------------------MEDIA QUERIES--------------------------------------*/
@import "utilidades/condicionales";